{% extends 'base.html' %}

{% block title %}Ranking da Turma: {{ turma.nome }}{% endblock %}

{% block content %}
    <h2 class="fw-light border-bottom pb-2 mb-4">Ranking da Turma: {{ turma.nome }}</h2>

    {% include '_partials/date_filter_form.html' %}

    <input type="text" id="searchInput" onkeyup="filterTable('searchInput', 'searchableTable')" 
           placeholder="Buscar por nome do aluno..." class="form-control search-box mb-4">

    <div class="table-responsive">
        <table class="table table-hover align-middle" id="searchableTable">
            <thead>
                <tr>
                    <th class="posicao">#</th>
                    <th>Nome do Aluno</th>
                    <th class="pontos">Pontos (Período)</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in ranking_alunos_turma %}
                <tr>
                    <td class="posicao">{{ forloop.counter }}</td>
                    <td>{{ aluno.nome_completo }}</td>
                    <td class="pontos">{{ aluno.pontos_no_periodo }} pts</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum aluno com pontuação encontrada para este período.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}