{% extends 'base.html' %}
{% block title %}Gerenciamento de Professores{% endblock %}
{% block content %}
    <h2>Gerenciamento de Professores</h2>

    <input type="text" id="searchInput" onkeyup="filterTable('searchInput', 'searchableTable')" placeholder="Buscar por professor ou turma..." class="form-control search-box mb-4">

    <table class="table table-hover align-middle" id="searchableTable">
        <thead>
            <tr>
                <th>Professor</th>
                <th>Pontos Totais</th>
                <th>Turmas Lecionadas</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for prof in lista_professores %}
            <tr>
                <td>{{ prof.first_name }} {{ prof.last_name }} ({{ prof.username }})</td>
                <td>{{ prof.perfil_professor.pontos_totais|default:0 }} pts</td>
                <td>
                    {% for turma in prof.turmas_lecionadas.all %}
                        {{ turma.nome }}<br>
                    {% empty %}
                        Nenhuma
                    {% endfor %}
                </td>

                <td style="min-width: 220px;">
                    <a href="{% url 'relatorio_professor_individual' prof.id %}" class="btn btn-primary btn-sm">
                        <i class="bi bi-person-lines-fill me-1"></i>
                        Ver Relatório Individual
                    </a>
                </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}