{% extends 'base.html' %}
{% block title %}Gerenciamento de Turmas{% endblock %}
{% block content %}
    <h2>Gerenciamento de Turmas</h2>
    

    <input type="text" id="searchInput" onkeyup="filterTable('searchInput', 'searchableTable')" placeholder="Buscar por turma ou professor..." class="form-control search-box mb-4">

    <table class="table table-hover align-middle" id="searchableTable">

        <thead> <tr> <th>Turma</th> <th>Professor Titular</th> <th>Ações</th> </tr> </thead>
        <tbody>
            {% for turma in lista_todas_turmas %}
            <tr>
                <td>{{ turma.nome }}</td>
                <td>{{ turma.professor.username|default:"Sem professor" }}</td>

            <td style="min-width: 270px;"> <a href="{% url 'detalhes_turma' turma.id %}" class="btn btn-outline-secondary btn-sm me-2">
                    <i class="bi bi-bar-chart-line-fill me-1"></i>
                    Ver Ranking
                </a>
                <a href="{% url 'pagina_chamada' turma.id %}" class="btn btn-primary btn-sm">
                    <i class="bi bi-check2-square me-1"></i>
                    Fazer Chamada
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}