{% extends 'base.html' %}
{% block title %}Gerenciamento de Alunos{% endblock %}
{% block content %}
    <h2>Gerenciamento de Alunos</h2>

    <input type="text" id="searchInput" onkeyup="filterTable('searchInput', 'searchableTable')" placeholder="Buscar por nome do aluno ou turma..." class="form-control search-box mb-4">

    <table class="table table-hover align-middle" id="searchableTable">
        <thead> <tr> <th>Aluno</th> <th>Turma</th> <th>Ações</th> </tr> </thead>
        <tbody>
            {% for aluno in lista_todos_alunos %}
            <tr>
                <td>{{ aluno.nome_completo }}</td>
                <td>{{ aluno.turma.nome|default:"Sem turma" }}</td>

                <td style="min-width: 220px;">
                    <a href="{% url 'relatorio_aluno_individual' aluno.id %}" class="btn btn-primary btn-sm">
                        <i class="bi bi-person-lines-fill me-1"></i>
                        Ver Relatório Individual
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}