{% extends 'base.html' %}
{% block title %}Ranking de Professores{% endblock %}
{% block content %}
    <h2>Ranking Geral de Professores</h2>

    {% include '_partials/date_filter_form.html' %}

    <input type="text" id="searchInput" onkeyup="filterTable('searchInput', 'searchableTable')" 
           placeholder="Buscar por nome do professor..." class="form-control search-box mb-4">

    <div class="table-responsive">
        <table class="table table-hover align-middle" id="searchableTable">
            <thead>
                <tr>
                    <th class="posicao">#</th>
                    <th>Professor</th>
                    <th class="pontos">Pontos (Período)</th>
                </tr>
            </thead>
            <tbody>
                {% for perfil in ranking_professores %}
                <tr>
                    <td class="posicao">{{ forloop.counter }}</td>
                    <td>{{ perfil.user.username }}</td>
                    <td class="pontos">{{ perfil.pontos_no_periodo }} pts</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum professor com pontuação encontrada para este período.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}